function Snake.new 2
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 3
pop this 3
push this 3
call Array.new 1
pop this 1
push constant 0
pop this 2
push constant 512
pop this 8
push this 8
call Array.new 1
pop this 6
push this 8
call Array.new 1
pop this 7
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push constant 0
push constant 0
call Point.new 2
pop local 1
push local 1
push argument 1
push local 0
sub
call Point.setX 2
pop temp 0
push local 1
push argument 2
call Point.setY 2
pop temp 0
push local 0
push this 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Snake.draw 1
pop temp 0
push pointer 0
return
function Snake.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Snake.getLength 0
push argument 0
pop pointer 0
push this 3
return
function Snake.draw 4
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 3
push local 3
call Point.getX 1
pop local 1
push local 3
call Point.getY 1
pop local 2
push local 1
push local 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.move 6
push argument 0
pop pointer 0
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Point.getX 1
pop local 4
push local 1
call Point.getY 1
pop local 5
push this 3
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop local 2
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call Point.getX 1
push constant 1
add
pop local 4
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Point.getY 1
push constant 1
add
pop local 5
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
call Point.getX 1
push constant 1
sub
pop local 4
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
call Point.getY 1
push constant 1
sub
pop local 5
label IF_FALSE3
push this 3
push constant 1
sub
pop local 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 0
push this 1
add
push local 0
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 4
push local 5
call Point.new 2
pop local 3
push constant 0
push this 1
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 2
call Point.getX 1
push local 2
call Point.getY 1
call Screen.drawPixel 2
pop temp 0
push this 3
push constant 1
sub
pop local 0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 3
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push local 3
call Point.getX 1
call Output.printInt 1
pop temp 0
push constant 20
call Sys.wait 1
pop temp 0
push constant 22
push constant 14
call Output.moveCursor 2
pop temp 0
push local 3
call Point.getY 1
call Output.printInt 1
pop temp 0
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
call Point.getX 1
push local 1
call Point.getY 1
call Screen.drawPixel 2
pop temp 0
push constant 0
return
